[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

log-bin=master-bin
server-id={{ ansible_eth1["ipv4"]["address"][-1:] }}
gtid-mode=on
enforce-gtid-consistency
log-slave-updates
binlog-checksum=NONE
binlog-format=row
master-info-repository=TABLE
relay-log-info-repository=TABLE
transaction-write-set-extraction=MURMUR32

#
# When using group-replication
#
plugin-dir=lib64/mysql/plugin
plugin-load=group_replication.so

group_replication_group_name=0cc73a76-818d-11e5-bfae-080027079e3d
group_replication_recovery_user='rpl_user'
group_replication_recovery_password='rpl_pass'
group_replication_recovery_retry_count=2   # default: 86400
#group_replication_recovery_reconnect_interval=60   # default: 60

group_replication_local_address='{{ ansible_eth1["ipv4"]["address"] }}:10300'
group_replication_peer_addresses='10.11.22.101:10300,10.11.22.102:10300'
#group_replication_bootstrap_group=1     # 1 => ON, 0 => OFF

#
# When starting from /etc/init.d/mysqld
#
validate_password_policy=LOW
validate_password_length=0